@{
    ViewData["Title"] = "";
}


<div
  class="bg-image"
  style="background-image: url('https://mdbootstrap.com/img/new/fluid/city/018.jpg');
    height: 600px;">
    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Capturing moments, one frame at a time 📷</p>
</div></div>