
<h1>Welcome to Update page </h1>
<br>
<form method="post">

id : <input type="text" id="pid" class="form-control form-control-lg" name="Id" />
Username:<input type="text" id="pname" class="form-control form-control-lg" name="Username" />
Emailid:<input type="text" id="ppassword" class="form-control form" name="Emailid"/>
Password:<input type="password" id="ppassword" class="form-control form" name="Password"/>

 <input type="submit"class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"value="submit"/><a href="/Home/List">submit</a>
 </form>