<form method="post">
  <div class="form-group">
    <label for="Username">Username</label>
    <input type="Username" class="form-control"name="Username" id="Username" placeholder="Enter Username">
    
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="Password" class="form-control" id="Passoword" name ="Password"placeholder="Password">
  </div>
  
    
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>