@using BOL;
<h2>Welcome to Registration table </h2>
<div>

    <form method="post">
        <div>

            <label for="Id" class="form-label">Id</label>
            <input type="text" name="Id" placeholder="Enter your Id " />
        </div>
        <div>

            <label for="Username" class="form-label">Fullname</label>
            <input type="text" name="Username" placeholder="Enter your full name" />
        </div>

        <div>
            <br><label for="Emailid" class="form-label">Email</label>
            <input type="email" name="Emailid" placeholder="ex-asb23@gmail.com" />

        </div>
        <div>
            <label for="Phone" class="form-label">Phone Number</label>
            <input type="text" name="Phone" />
        </div>
        <div>
            <label for="Password" class="form-label">Password</label>
            <input type="text" name="Password" />
        </div>
        <div>
            <button type="submit" name="btn btn-default">Submit</button>
        </div>





    </form>


</div>