@{
    ViewData["Title"] = "Update Page";
}
<h1>Welcome to The Update console</h1>
<form method="post">
<div>
Id: <input type="text" name="Id"/>
 Username: <input type="text" name="Username"/>
 Emailid: <input type="text" name="Emailid"/>
  Password: <input type="text" name="Password"/>
  <button type="submit">Submit</button>
</div>

</form>
